<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div>
      <input type="text" v-model="title">
      <button @click="add">add</button>
    </div>
    <div>
      <ul>
        <li v-for="item in list" v-if="item">{{item}}</li>
      </ul>
    </div>
  </div>
  <script src="./vue-2.5.16.js" charset="utf-8"></script>
  <script type="text/javascript">
    const vm = new Vue({
      el: '#app',
      data: {
        title: '',
        list: []
      },
      methods: {
        add() {
          this.list.push(this.title)
          this.title = ''
        }
      }
    })
  </script>
</body>
</html>
